*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
/*----BARRA DE NAVEGACION ------   >*/
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    font-family: Montserrat ,sans-serif;
    background-color: #37383C;
    padding-left: 9.25vw;
    padding-right: 9.25vw;
    border-top: solid 5px black;
}
object {
    pointer-events: none;
}
#logoNav {
    height: 60px;
    width: 68px;
}
.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 45%;
    text-transform: uppercase;
}
.nav-links .menubtn {
    color: white;
    font-weight: 700;
    font-size: 13px;
    cursor: pointer;
}


.nav-links #gif_creator {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #37383C;
    height: 54px;
    width: 54px;
    border: solid 1px white;
    border-radius: 50%;
    cursor: pointer;
}
.nav-links #gif_creator:hover {
    background-color: white;
    border: none;
}
.nav-links #gif_creator:active {
    background-color: #9CAFC3;
    border: none;
}
.burger {
    display: none;
}
.menubtn:hover {
    border-bottom: solid 2px #5ED7C6;
}
.menubtn:active {
    color: #9CAFC3;
    border-bottom: none;
}


@media screen and (max-width:1064px){
    .nav-links{
        width: 55%;
    }
}
@media screen and (max-width:840px){
    .nav-links{
        width: 65%;
    }
}

@media screen and (max-width:768px){
    body {
        overflow-x: hidden;
    }
    #logoNav {
        height: 49px;
        width: 53px;
    }
    .logonav {
        height: 49px;
        width: 49px;
    }
    .makegif {
        display: none;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 100vh;
        top: 90px;
        background-color: black;
        opacity: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        text-transform: unset;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
        z-index: 1;
    }
    .nav-links .menubtn {
        font-family: Montserrat ,sans-serif;
        color:  white;
        font-weight: 700;
        font-size: 15px;
        line-height: 60px;
    }

    /*LINEAS DEBAJO DE CADA LINK DEL MENU HAMBURGUESA- :s */
    .nav-links .menubtn {
        position: relative;
        z-index: 1;
        text-align: center;
        padding-bottom: 15px;
        }
    .nav-links .menubtn::after {
        content: "";
        position: absolute;
        left: 50%;
        margin-left: -20px;
        bottom: 0;
        width: 41px;
        border-bottom: 1px solid white;
        opacity: 0.5;
    }
    .menubtn:hover {
        border-bottom: unset;
    }
    .menubtn:active {
        color: white;
        opacity: 50%;
        border-bottom: unset;
    }

    .burger{
        display: block;
    }
    #burger{
        cursor: pointer;
    }
    #check {
        display: none;
    }
    .nav-active{
        transform: translateX(0%);
    }

}
/*----FIN DE BARRA DE NAVEGACION ------   >*/

/*  overflow auto y scroll snap----https://developer.mozilla.org/en-US/docs/Web/CSS/scroll-snap-type  */
/*  https://developers.giphy.com/docs/resource/#code-examples  */

body {
    font-family: Montserrat ,sans-serif; 
    background-color: #37383C;
}
main {
    background-color: #37383C;
}
object {
    pointer-events: none;
}
.busca_gifos {
    display: flex;
    flex-direction: column;
}
.busca_gifos h1 {
    font-family: Montserrat ,sans-serif;
    font-weight: 700;
    font-size: 25px;
    color: white;
    text-align: center;
    line-height: 33px;
    margin-top: 7px;
    margin-bottom: 31px;
    margin-right: 12vw;
    margin-left: 12vw;
}
.busca_gifos span {
    color: #50E3C2;
}
.busca_gifos #ilustra {
    display:block;
    margin:auto;
    width: 273px;
    height: 130px;
}
.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    width: 334px;
    height: auto;
    border-radius: 27px;
    border: solid 1px white;
}
.flex .busca_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.busca_container input {
    background-color: #37383C;
    color: white;
    border: none;
    outline: none;
    padding : 10px 30px 10px 5px;
    font-size: 16px;
}

.busca_container #search {
    width: 20px;
    height: 20px;
    cursor: pointer;
    transform: translateX(10px);
}

/*ESTE BOX SE ACTIVA PARA LAS SUGERENCIAS DE BUSQUEDA*/
.sugerencias_box {
    width: 334px;
    padding-bottom: 14px;
    display: none;  /* <--------- ESTE !! */
}
.sugerencias {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-left: 30px;
}
.sugerencias p{
    color: #9CAFC3;
    line-height: 25px;
    margin-top: 10px;
}
.sugerencias svg {
    margin-right: 20px;
    margin-top: 10px;
}
#lupachica {
    fill: #9CAFC3;
}

/*ESTA LUPA APARECE AL TIPEAR*/
.lupanueva {
    display: none;  /* <--------- ESTA !! */
}

.trendings {
    width: 225px;
    margin: auto;
    margin-top: 31px;
}
.trendings h2{
    font-family: Montserrat ,sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: white;
    text-align: center;
    line-height: 25px;
}
.trendings p{
    font-family: Montserrat ,sans-serif;
    font-size: 14px;
    color: white;
    text-align: center;
    line-height: 25px;
}
/*ESTA REEMPLAZA A TRENDINGS AL TIPEAR EL INPUT*/
.cutLine {
    width: 157px;
    height: 1px;
    background-color: #9CAFC3 ;
    border-radius: 10px;
    margin: auto;
    display: none;
    margin-top: 55px;
}
#cutLinex {
    width: 157px;
    height: 1px;
    background-color: #9CAFC3 ;
    border-radius: 10px;
    margin: auto;
    display: none;
}
/*GRID DE RESULTADOS x12 --MODO MOBILE */
#tituloBusqueda {
    text-align: center;
    margin-top: 43px;
    margin-bottom: 38px;
    color: white;
}
.resultados_container{
    display: none;  /* DISPLAY CAMBIADO DESDE JS */
}
.resultados {
    display: grid;
    margin-right: 5vw;
    margin-left: 5vw;
    grid-column-gap: 5vw;
    grid-row-gap: 5vw;
    grid-template-columns: auto auto ;
}
.resultados .grid-item {
    width: 41vw;
    height: 32vw;
    background-image: url(https://elintransigente.com/wp-content/uploads/2020/04/voz-estadio-boca-3.jpg?w=1024?w=1000&h=600&crop=1);
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}
.blue {
    width: 100%;
    height: 100%;
    background-color: #572EE5;
    opacity: 0;
}
.blue:hover {
    opacity: .8;
}
.cardIcons {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    opacity: 0;
}
.cardIcons:hover {
    background-color: #572EE5;
    opacity: 1;
}
.cardIcons .icon {
    height: 29px;
    width: 29px;
    background-color: white;
    opacity: .5;
    padding: 6px;
    border-radius: 6px;
    margin-top: 10px;
    margin-right: 10px;
}
.cardIcons .icon:hover {
    cursor: pointer;
    opacity: 1;
}

.grid-item h4 {
    margin-left: 10px;
    transform: translateY(-50px);
    color: white;
    width: 100px;
}

.verMas{
    margin-top: 78px;
    text-align: center;
}
#verMas{
    color: white;
    background-color: #37383C;
    border: solid 1px white;
    border-radius: 25px;
    font-weight: 700;
    font-size: 13px;
    width: 127px;
    height: 50px;
    padding: 18px 31.5px 16px 31.5px;
}
#verMas:hover {
    color: black;
    background-color: white;
}


/*SLIDER MODO MOBILE-----------------------------*/

.trendingGifos {
    margin-top: 45px;
    background-color: #222326;
    width: 100%;
    height: 430px;
}
.trendingGifos h1 {
    color :white ;
    text-align: center;
    font-size: 20px;
    padding-top: 46px;
    padding-bottom: 7px;
}
.trendingGifos h2 {
    color :white ;
    font-family: Roboto ,sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    text-align: center;
    padding-bottom: 32px;
}
.holster {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: column nowrap;
    font-family: monospace;
    }
.containerX {
    display: flex;
    overflow-x: auto;
    flex: none;
    margin: auto;
    width: 100%;
    height: 225px;
    flex-flow: row nowrap;
    scroll-snap-type: x mandatory;
   }
.containerX .grid-item {
    text-align: center;
    scroll-snap-align: center;
    margin: 0 11px 0 11px;
    flex: none;
    width: 243px;
    background-image: url(https://elintransigente.com/wp-content/uploads/2020/04/voz-estadio-boca-3.jpg?w=1024?w=1000&h=600&crop=1);
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}
.containerX .grid-item:first-child {
    margin-left: 0px;
}
.containerX .grid-item:last-child {
    margin-right: 0px;
}
.containerX .blue {
        width: 100%;
        height: 100%;
        background-color: #572EE5;
        opacity: 0;
}
.containerX .blue:hover {
        opacity: .8;
}
.containerX .cardIcons {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        height: 100%;
        opacity: 0;
}
.containerX .cardIcons:hover {
        background-color: #572EE5;
        opacity: 1;
}
.containerX .cardIcons .icon {
        height: 29px;
        width: 29px;
        background-color: white;
        opacity: .5;
        padding: 6px;
        border-radius: 6px;
        margin-top: 10px;
        margin-right: 10px;
}
.containerX .cardIcons .icon:hover {
        cursor: pointer;
        opacity: 1;
}

.containerX .grid-item h4 {
        font-family: Montserrat ,sans-serif;
        width: 100px;
        line-height: 16px;
        font-size: 16px;
        color: white;
}
/*------------------------------------------------XXX*/


/*-----FOOTER----------------------------*/
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 47px;
    border-bottom: solid 5px black;
    background-color: #37383C;
}
footer h4 {
    color: white;
    font-family: Roboto ,sans-serif;
    font-weight: 300;
    margin-bottom: 24px;
    font-size: 15px;
    text-align: center;
}
footer .redes {
    display: flex;
    justify-content: space-between;
    width: 120px;
}

footer .redes .icon:hover #ig,
footer  .redes .icon:hover #face, 
footer  .redes .icon:hover #tr {
    fill: #572EE5;
}
footer h4:last-child {
    margin-top: 48px;
    margin-bottom: 23px;
}



@media screen and (min-width: 480px){
}
@media screen and (min-width: 768px){
    /*ESTA REEMPLAZA A TRENDINGS AL TIPEAR EL INPUT*/
    .cutLine {
        width: 338px;
        height: 1px;
        background-color: #9CAFC3 ;
        border-radius: 10px;
        margin: auto;
        display: none;
        margin-top: 55px;
    }
    #cutLinex {
        width: 338px;
        height: 1px;
        background-color: #9CAFC3 ;
        border-radius: 10px;
        margin: auto;
    }
    
    .busca_gifos h1 {
        width: 551px;
        font-size: 35px;
        line-height: 50px;
        margin: auto;
        margin-top: 76px;
        margin-bottom: 24px;
    }
    .busca_gifos #ilustra {
        display:block;
        margin:auto;
        width: 399px;
        height: 190px;
    }
    .flex {
        width: 551px;
    }
    .flex .busca_container {
        display: flex;
        align-items: center;
        width: 551px;
    }
    .busca_container input {
        border: none;
        outline: none;
        padding : 10px 220px 10px 5px;
        font-size: 16px;
    }
    
    .busca_container #search {
        width: 20px;
        height: 20px;
        cursor: pointer;
        margin-right: 20px;
    }
    
    /*ESTE BOX SE ACTIVA PARA LAS SUGERENCIAS DE BUSQUEDA*/
    .sugerencias_box {
        width: 551px;
        padding-bottom: 14px;
        display: none;  /* <--------- ESTE !! */
    }

    /*ESTA LUPA APARECE AL TIPEAR*/
    .lupanueva {
        margin-left: 10px;
        display: none;  /* <--------- ESTA !! */
    }
    .trendings {
        width: 402px;
        margin: auto;
        margin-top: 73px;
    }

    #tituloBusqueda{
        margin: auto;
        margin-top: 82px;
        margin-bottom: 60px;
        font-size: 35px;
        line-height: 30px;
    }
    /*GRID DE RESULTADOS x12 --MODO TABLET */
    .resultados {
        display: grid;
        margin-right: 2vw;
        margin-left: 2vw;
        grid-column-gap: 2vw;
        grid-row-gap: 2vw;
        grid-template-columns: auto auto auto ;
    }
    .resultados .grid-item {
        width: 30vw;
        height: 24vw;
    }
    /*-----FOOTER----------------------------*/
    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin-top: 0px;
        height: 116px;
        border-bottom: solid 5px black;
    }
    footer .contRedes {
        display: flex;
    }
    footer h4 {
        font-family: Roboto ,sans-serif;
        font-weight: 300;
        margin-bottom: 0px;
        font-size: 15px;
    }
    footer .redes {
        display: flex;
        justify-content: space-evenly;
        width: 120px;
    }

    footer .redes .icon:hover #ig,
    footer  .redes .icon:hover #face, 
    footer  .redes .icon:hover #tr {
        fill: #572EE5;
    }
    footer h4:last-child {
        margin-top: 0px;
        margin-bottom: 0px;
    }

}

@media screen and (min-width: 1024px){

    /*GRID DE RESULTADOS x12 --MODO DESKTOP */
    #tituloBusqueda{
        margin: auto;
        margin-top: 82px;
        margin-bottom: 60px;
        font-size: 35px;
        line-height: 30px;
    }
   .resultados {
        display: grid;
        margin-right: 2vw;
        margin-left: 2vw;
        grid-column-gap: 2vw;
        grid-row-gap: 2vw;
        grid-template-columns: auto auto auto auto ;
    }
    .resultados .grid-item {
        width: 22vw;
        height: 17vw;
    } 
}

/* USADO PARA APARECER HTML OCULTO*/
.displayBlocker {
    display: block;
}
/* USADO PARA DESAPARECER HTML OCULTO*/
.displayNoner {
    display: none;
}

