*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
/*----BARRA DE NAVEGACION ------   >*/
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    font-family: Montserrat ,sans-serif;
    background-color: white;
    padding-left: 9.25vw;
    padding-right: 9.25vw;
    border-top: solid 5px #572EE5;
}
object {
    pointer-events: none;
}
#logoNav {
    height: 60px;
    width: 68px;
}
.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 45%;
    text-transform: uppercase;
}
.nav-links .menubtn {
    color: #572EE5;
    font-weight: 700;
    font-size: 13px;
    cursor: pointer;
}
.nav-links #gif_creator {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 54px;
    width: 54px;
    border: solid 1px #572EE5;
    border-radius: 50%;
    cursor: pointer;
}
.nav-links #gif_creator:hover {
    background-color: #572EE5;
    border: none;
}
.nav-links #gif_creator:active {
    background-color: #9CAFC3;
    border: none;
}
.burger {
    display: none;
}
.menubtn:hover {
    border-bottom: solid 2px #5ED7C6;
}
.menubtn:active {
    color: #9CAFC3;
    border-bottom: none;
}


@media screen and (max-width:1064px){
    .nav-links{
        width: 55%;
    }
}
@media screen and (max-width:840px){
    .nav-links{
        width: 65%;
    }
}

@media screen and (max-width:768px){
    body {
        overflow-x: hidden;
    }

    #logoNav {
        height: 49px;
        width: 53px;
    }
    .makegif {
        display: none;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 100vh;
        top: 90px;
        background-color: #572EE5;
        opacity: 90%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        text-transform: unset;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
        z-index: 1;
    }
    .nav-links .menubtn {
        font-family: Montserrat ,sans-serif;
        color:  white;
        font-weight: 700;
        font-size: 15px;
        line-height: 60px;
    }

    /*LINEAS DEBAJO DE CADA LINK DEL MENU HAMBURGUESA- :s */
    .nav-links .menubtn {
        position: relative;
        z-index: 1;
        text-align: center;
        padding-bottom: 15px;
        }
    .nav-links .menubtn::after {
        content: "";
        position: absolute;
        left: 50%;
        margin-left: -20px;
        bottom: 0;
        width: 41px;
        border-bottom: 1px solid white;
        opacity: 0.5;
    }
    .menubtn:hover {
        border-bottom: unset;
    }
    .menubtn:active {
        color: white;
        opacity: 50%;
        border-bottom: unset;
    }

    .burger{
        display: block;
    }
    #burger{
        cursor: pointer;
    }
    #check {
        display: none;
    }
    .nav-active{
        transform: translateX(0%);
    }

}
/*----FIN DE BARRA DE NAVEGACION ------   >*/

/*-----INICIO MAIN---*/
body {
    font-family: Montserrat ,sans-serif; 
}
main {
    background-color: white;
}
object {
    pointer-events: none;
}
.busca_gifos {
    display: flex;
    flex-direction: column;
}
.busca_gifos h1 {
    font-family: Montserrat ,sans-serif;
    font-weight: 700;
    font-size: 25px;
    color: #572EE5;
    text-align: center;
    line-height: 33px;
    margin-top: 7px;
    margin-bottom: 31px;
    margin-right: 12vw;
    margin-left: 12vw;
}
.busca_gifos span {
    color: #50E3C2;
}
.busca_gifos #ilustra {
    display:block;
    margin:auto;
    width: 273px;
    height: 130px;
}
.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    width: 334px;
    height: auto;
    border-radius: 27px;
    border: solid 1px #572EE5;
}
.flex .busca_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.busca_container input {
    border: none;
    outline: none;
    padding : 10px 30px 10px 5px;
    font-size: 16px;
}

.busca_container #search {
    width: 20px;
    height: 20px;
    cursor: pointer;
    transform: translateX(10px);
}

/*ESTE BOX SE ACTIVA PARA LAS SUGERENCIAS DE BUSQUEDA*/
.sugerencias_box {
    width: 334px;
    padding-bottom: 14px;
    display: none;  /* <--------- ESTE !! */
}
.sugerencias {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-left: 30px;
}
.sugerencias p{
    color: #9CAFC3;
    line-height: 25px;
    margin-top: 10px;
    cursor: pointer;
}
.sugerencias svg {
    margin-right: 20px;
    margin-top: 10px;
}
#lupachica {
    fill: #9CAFC3;
}
/*ESTA LUPA APARECE AL TIPEAR*/
.lupanueva {
    display: none;  /* <--------- ESTA !! */
    cursor: pointer;
}
.trendings {
    width: 225px;
    margin: auto;
    margin-top: 31px;
}
.trendings h2{
    font-family: Montserrat ,sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #572EE5;
    text-align: center;
    line-height: 25px;
}
.trendings p{
    font-family: Montserrat ,sans-serif;
    font-size: 14px;
    color: #572EE5;
    text-align: center;
    line-height: 25px;
}
/*ESTA REEMPLAZA A TRENDINGS AL TIPEAR EL INPUT*/
.cutLine {
    width: 157px;
    height: 1px;
    background-color: #9CAFC3 ;
    border-radius: 10px;
    margin: auto;
    display: none;
    margin-top: 55px;
    margin-bottom: 10px;
}
#cutLinex {
    width: 157px;
    height: 1px;
    background-color: #9CAFC3 ;
    border-radius: 10px;
    margin: auto;
    display: none;
}
.noResults {
    display: none;
    margin: auto;
    margin-top: 40px;
}
.noResults img {
    display: block;
    margin: auto;
}
.noResults h2 {
    font-size: 22px;
    color: #50E3C2;
    text-align: center;
    line-height: 25px;
    margin-top: 30px;
}
/*GRID DE RESULTADOS x12 --MODO MOBILE */

.contenedor {
    display: none; /*ESTE DISPLAY LO CAMBIO DESDE JS*/
}
.tituloBusqueda {
    display: none;
    text-align: center;
    margin-top: 43px;
    margin-bottom: 38px;
    color: #572EE5;
    font-size: 25px;
    line-height: 40px;
    font-weight: 700;
}
.grilla {
    display: grid;
    margin-right: 5vw;
    margin-left: 5vw;
    grid-column-gap: 5vw;
    grid-row-gap: 5vw;
    grid-template-columns: auto auto;
}
.grilla .resultados .grid-item {
    width: 41vw;
    height: 32vw;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}
.resultados .grid-item .blue {
    width: 100%;
    height: 100%;
    background-color: #572EE5;
    opacity: 0;
}
.blue .cardIcons {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    opacity: 0;
}
.blue .cardIcons:hover {
    background-color: #572EE5;
    opacity: 1;
}
.blue .cardIcons .icon {
    height: 29px;
    width: 29px;
    background-color: white;
    opacity: .5;
    padding: 6px;
    border-radius: 6px;
    margin-top: 10px;
    margin-right: 10px;
}
.blue .cardIcons .icon:hover {
    cursor: pointer;
    opacity: 1;
}

.grid-item .tituloGrid {
    margin-left: 10px;
    transform: translateY(-70px);
    color: white;
    width: 90%;
}
.verMas{
    display: none;
    margin-top: 78px;
    text-align: center;
    cursor: pointer;
}
.verMasA{
    color: #572EE5;
    background-color: white;
    border: solid 1px #572EE5;
    border-radius: 25px;
    font-weight: 700;
    font-size: 13px;
    width: 127px;
    height: 50px;
    padding: 18px 31.5px 16px 31.5px;
}
.verMasA:hover {
    color: white;
    background-color: #572EE5;
}
/*---------FIN GRID DE BUSQUEDA-------------------------*/

/*SLIDER MODO MOBILE-----------------------------*/

.trendingGifos {
    margin-top: 45px;
    background-color: #F3F5F8;
    width: 100%;
    height: 430px;
}
.trendingGifos h1 {
    color :#572EE5 ;
    text-align: center;
    font-size: 20px;
    padding-top: 46px;
    padding-bottom: 7px;
}
.trendingGifos h2 {
    font-family: Roboto ,sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    text-align: center;
    padding-bottom: 32px;
}
.holster {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: column nowrap;
    font-family: monospace;
    }
.containerX {
    display: flex;
    overflow-x: auto;
    flex: none;
    margin: auto;
    width: 100%;
    height: 225px;
    flex-flow: row nowrap;
    scroll-snap-type: x mandatory;
   }
.containerX .grid-itemx {
    text-align: center;
    scroll-snap-align: center;
    margin: 0 11px 0 11px;
    flex: none;
    width: 243px;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    cursor: pointer;
}
.containerX .grid-itemx:first-child {
    margin-left: 0px;
}
.containerX .grid-itemx:last-child {
    margin-right: 0px;
}
.containerX .cardIcons {
        display: none;
        justify-content: flex-end;
        width: 100%;
        height: 100%;
        opacity: 0;
}
/*------------------------------------------------XXX*/
/*Div QUE APARECE PARA VISUALIZAR EL GIF EN TAMAÑO MAXIMO MODO MOBILE*/
.modal {
    display: none; 
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: white; 
    overflow: auto;
}
.close {
    position: absolute;
    top: 10vh;
    right: 8vw;
    cursor: pointer;
    }
.gifMaxContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 16vh;
}
.gifMaxContainer .gifMax {
    width: 84vw;
    height: auto;
    box-shadow: 0px 0px 15px 5px #572EE5;
    border-radius: 5px;
}
.gifMaxContainer .infoDiv {
    display: flex;
    justify-content: space-between;
    width: 84vw;
    margin-top: 22px;
}
.gifMaxContainer .infoDiv .tituloTrendMax{
    font-family: Roboto ,sans-serif;
    font-weight: bold;
    line-height: 19px;
    font-size: 16px;
    color: black;
}
.gifMaxContainer .infoDiv .iconDiv {
    display: flex;
}
.gifMaxContainer .infoDiv .iconDiv img {
    height: 29px;
    width: 29px;
    background-color: white;
    padding: 6px;
    border: 1px solid #9CAFC3;
    border-radius: 6px;
    margin-left: 21px;
    opacity: 0.5;
    box-shadow: 0px 0px 5px 3px #572EE5;
}
.gifMaxContainer .infoDiv .iconDiv img:hover {
    cursor: pointer;
    opacity: 1;
}
/*--------PAGINAS APARTE------------------*/
/*------SECCION FAVORITOS MODO MOBILE---------------->*/
.favoritosResults {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 11px;
}
.favoritosResults .tituFav {
    display: flex;
    flex-direction: column;
}
.favoritosResults .tituFav h1 {
    font-family: Montserrat ,sans-serif;
    font-size: 25px;
    color: #572EE5;
    text-align: center;
    line-height: 30px; 
}
.favoritosResults .estadoFav {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 46px;
    text-align: center;
    width: 80%;
}
.favoritosResults .estadoFav img {
    width: 76px;
    height: 54px;
}
.favoritosResults .estadoFav h1 {
    color: #572EE5;
    margin-top: 10px;
}
/*-----------------*/
.favoritos {
    display: grid;
    margin-top: 50px;
    margin-right: 5vw;
    margin-left: 5vw;
    grid-column-gap: 5vw;
    grid-row-gap: 5vw;
    grid-template-columns: auto auto;
}

.favoritos .grid-itemfav {
    width: 41vw;
    height: 32vw;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}
.favoritos .grid-itemfav .bluefav {
    width: 100%;
    height: 100%;
    background-color: #572EE5;
    opacity: 0;
}
.favoritos .grid-itemfav .bluefav .cardIconsfav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    opacity: 0;
}
.favoritos .grid-itemfav .bluefav .cardIconsfav:hover {
    background-color: #572EE5;
    opacity: 1;
}
.favoritos .grid-itemfav .bluefav .cardIconsfav .iconfav {
    height: 29px;
    width: 29px;
    background-color: white;
    opacity: .5;
    padding: 6px;
    border-radius: 6px;
    margin-top: 10px;
    margin-right: 10px;
}
.favoritos .grid-itemfav .bluefav .cardIconsfav .iconfav:hover {
    cursor: unset;
    opacity: 1;
}
.favoritos .grid-itemfav .tituloFav {
    font-size: 8px;
    margin-left: 10px;
    transform: translateY(-50px);
    color: white;
    width: 20vw;
}
.verMasfav{
    margin-top: 78px;
    text-align: center;
    cursor: pointer;
}
.verMasfav .verMasfavA{
    color: #572EE5;
    background-color: white;
    border: solid 1px #572EE5;
    border-radius: 25px;
    font-weight: 700;
    font-size: 13px;
    width: 127px;
    height: 50px;
    padding: 18px 31.5px 16px 31.5px;
}
.verMasfav .verMasfavA:hover{
    color: white;
    background-color: #572EE5;
    border: none;
}
/*----------FIN FAVORITOS--------------------->*/
/*------SECCION MIS GIFOS MODO MOBILE---------------->*/
.misGifosResults {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 11px;
}
.misGifosResults .tituMisGifs {
    display: flex;
    flex-direction: column;
}
.misGifosResults .tituMisGifs h1 {
    font-family: Montserrat ,sans-serif;
    font-size: 25px;
    color: #572EE5;
    text-align: center;
    line-height: 30px; 
}
.misGifosResults .estadoGifs {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 46px;
    text-align: center;
    width: 80%;
}
.misGifosResults .estadoGifs img {
    width: 76px;
    height: 54px;
}
.misGifosResults .estadoGifs h1 {
    color: #572EE5;
    margin-top: 10px;
}
/*-----------------------*/
.misGifos {
    display: grid;
    margin-top: 50px;
    margin-right: 5vw;
    margin-left: 5vw;
    grid-column-gap: 5vw;
    grid-row-gap: 5vw;
    grid-template-columns: auto auto;
}

.misGifos .grid-itemMG {
    width: 41vw;
    height: 32vw;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}
.misGifos .grid-itemMG .blueMG {
    width: 100%;
    height: 100%;
    background-color: #572EE5;
    opacity: 0;
}
.misGifos .grid-itemMG .blueMG .cardIconsMG {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    opacity: 0;
}
.misGifos .grid-itemMG .blueMG .cardIconsMG:hover {
    background-color: #572EE5;
    opacity: 1;
}
.misGifos .grid-itemMG .blueMG .cardIconsMG .iconMG {
    height: 29px;
    width: 29px;
    background-color: white;
    opacity: .5;
    padding: 6px;
    border-radius: 6px;
    margin-top: 10px;
    margin-right: 10px;
}
.misGifos .grid-itemMG .blueMG .cardIconsMG .iconMG:hover {
    cursor: unset;
    opacity: 1;
}
.misGifos .grid-itemMG .tituloMG {
    font-size: 8px;
    margin-left: 10px;
    transform: translateY(-50px);
    color: white;
    width: 20vw;
}
.verMasMG{
    margin-top: 78px;
    text-align: center;
    cursor: pointer;
}
.verMasMG .verMasMGA{
    color: #572EE5;
    background-color: white;
    border: solid 1px #572EE5;
    border-radius: 25px;
    font-weight: 700;
    font-size: 13px;
    width: 127px;
    height: 50px;
    padding: 18px 31.5px 16px 31.5px;
}
.verMasMG .verMasMGA:hover{
    color: white;
    background-color: #572EE5;
    border: none;
}

/*----------FIN MIS GIFOS--------------------->*/

/*-----FOOTER----------------------------*/
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 47px;
    border-bottom: solid 5px #572EE5;
}
footer h4 {
    font-family: Roboto ,sans-serif;
    font-weight: 300;
    margin-bottom: 24px;
    font-size: 15px;
    text-align: center;
}
footer .redes {
    display: flex;
    justify-content: space-between;
    width: 120px;
}

footer .redes .icon:hover #ig,
footer  .redes .icon:hover #face, 
footer  .redes .icon:hover #tr {
    fill: #572EE5;
}
footer h4:last-child {
    margin-top: 48px;
    margin-bottom: 23px;
}

@media screen and (min-width: 768px){
    /*ESTA REEMPLAZA A TRENDINGS AL TIPEAR EL INPUT*/
    .cutLine {
        width: 338px;
        height: 1px;
        background-color: #9CAFC3 ;
        border-radius: 10px;
        margin: auto;
        display: none;
        margin-top: 55px;
    }
    #cutLinex {
        width: 338px;
        height: 1px;
        background-color: #9CAFC3 ;
        border-radius: 10px;
        margin: auto;
    }
    
    .busca_gifos h1 {
        width: 551px;
        font-size: 35px;
        line-height: 50px;
        margin: auto;
        margin-top: 76px;
        margin-bottom: 24px;
    }
    .busca_gifos #ilustra {
        display:block;
        margin:auto;
        width: 399px;
        height: 190px;
    }
    .flex {
        width: 551px;
    }
    .flex .busca_container {
        display: flex;
        align-items: center;
        width: 551px;
    }
    .busca_container input {
        border: none;
        outline: none;
        padding : 10px 220px 10px 5px;
        font-size: 16px;
    }
    
    .busca_container #search {
        width: 20px;
        height: 20px;
        cursor: pointer;
        margin-right: 20px;
    }
    
    /*Div QUE APARECE PARA VISUALIZAR EL GIF EN TAMAÑO MAXIMO MODO IPAD*/

    .close {
        position: absolute;
        top: 8vh;
        right: 10vw;
        cursor: pointer;
        }
    .gifMaxContainer {
        margin-top: 20vh;
    }
    .gifMaxContainer .gifMax {
        width: 70vw;
        box-shadow: 0px 0px 15px 5px #572EE5;
        border-radius: 5px;
    }
    .gifMaxContainer .infoDiv {
        display: flex;
        justify-content: space-between;
        width: 70vw;
        margin-top: 22px;
        margin-bottom: 22px;
    }
    .gifMaxContainer .infoDiv .iconDiv {
        display: flex;
        justify-content: space-around;
    }
    /*---FIN DIV MAX MODO IPAD----->*/

    /*ESTE BOX SE ACTIVA PARA LAS SUGERENCIAS DE BUSQUEDA*/
    .sugerencias_box {
        width: 551px;
        padding-bottom: 14px;
        display: none;  /* <--------- ESTE !! */
    }

    /*ESTA LUPA APARECE AL TIPEAR*/
    .lupanueva {
        margin-left: 10px;
        display: none;  /* <--------- ESTA !! */
    }
    .trendings {
        width: 402px;
        margin: auto;
        margin-top: 73px;
    }

    #tituloBusqueda{
        margin: auto;
        margin-top: 82px;
        margin-bottom: 60px;
        font-size: 35px;
        line-height: 30px;
    }

    /*GRID DE RESULTADOS x12 --MODO IPAD */
    .grilla {
        display: grid;
        margin-right: 2vw;
        margin-left: 2vw;
        grid-column-gap: 2vw;
        grid-row-gap: 2vw;
        grid-template-columns: auto auto auto;
    }
    .grilla .resultados .grid-item {
        width: 30vw;
        height: 24vw;
        background-position: center; 
        background-repeat: no-repeat; 
        background-size: cover; 
        cursor: pointer;
    }

    .blue .cardIcons {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        height: 100%;
        opacity: 0;
        cursor: unset;
        display: none;
    }
    /*---------FIN GRID DE BUSQUEDA----------*/

    /*-----FOOTER----------------------------*/
    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin-top: 0px;
        height: 116px;
        border-bottom: solid 5px #572EE5;
    }
    footer .contRedes {
        display: flex;
    }
    footer h4 {
        font-family: Roboto ,sans-serif;
        font-weight: 300;
        margin-bottom: 0px;
        font-size: 15px;
    }
    footer .redes {
        display: flex;
        justify-content: space-evenly;
        width: 120px;
    }

    footer .redes .icon:hover #ig,
    footer  .redes .icon:hover #face, 
    footer  .redes .icon:hover #tr {
        fill: #572EE5;
    }
    footer h4:last-child {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    /*--------PAGINAS APARTE------------------*/
    /*------SECCION FAVORITOS MODO IPAD---------------->*/

    .favoritos {
        display: grid;
        margin-top: 50px;
        margin-right: 2vw;
        margin-left: 2vw;
        grid-column-gap: 2vw;
        grid-row-gap: 2vw;
        grid-template-columns: auto auto auto;
    }

    .favoritos .grid-itemfav {
        width: 30vw;
        height: 24vw;
        background-position: center; 
        background-repeat: no-repeat; 
        background-size: cover; 
        cursor: pointer;
    }
    .favoritos .grid-itemfav .bluefav .cardIconsfav {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        height: 100%;
        opacity: 0;
        display: none;
    }
    .favoritos .grid-itemfav .tituloFav {
        font-size: 12px;
        margin-left: 10px;
        transform: translateY(-50px);
        color: white;
        width: 20vw;
    }
    /*----------FIN FAVORITOS--------------------->*/

    /*------SECCION MIS GIFOS MODO MOBILE---------------->*/
    #noContent {
        height: 150px;
        width: 150px;
    }
    .misGifos {
        display: grid;
        margin-top: 50px;
        margin-right: 2vw;
        margin-left: 2vw;
        grid-column-gap: 2vw;
        grid-row-gap: 2vw;
        grid-template-columns: auto auto auto;
    }
    .misGifos .grid-itemMG {
        width: 30vw;
        height: 24vw;
        background-position: center; 
        background-repeat: no-repeat; 
        background-size: cover;
        cursor: pointer;
    }
    .misGifos .grid-itemMG .blueMG .cardIconsMG {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        height: 100%;
        opacity: 0;
        display: none;
    }
    .misGifos .grid-itemMG .tituloMG {
        font-size: 12px;
        margin-left: 10px;
        transform: translateY(-50px);
        color: white;
        width: 20vw;
    }
    /*----------FIN MIS GIFOS--------------------->*/
}

@media screen and (min-width: 1024px){

    /*GRID DE RESULTADOS x12 --MODO DESKTOP*/
    .tituloBusqueda {
        margin-top: 82px;
        margin-bottom: 60px;
        color: #572EE5;
        font-size: 35px;
        line-height: 30px;
        font-weight: 700;
    }
    .grilla {
        display: grid;
        margin-right: 2vw;
        margin-left: 2vw;
        grid-column-gap: 2vw;
        grid-row-gap: 2vw;
        grid-template-columns: auto auto auto auto;
    }
    .grilla .resultados .grid-item {
        width: 22vw;
        height: 17vw;
        background-position: center; 
        background-repeat: no-repeat; 
        background-size: cover; 
    }
    .resultados .grid-item .blue {
        width: 100%;
        height: 100%;
        background-color: #572EE5;
        opacity: 0;
    }
    .resultados .grid-item .blue:hover {
        opacity: .9;
    }
    .blue .cardIcons {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        height: 100%;
        opacity: 0;
    }
    .grid-item .tituloGrid {
        margin-left: 10px;
        transform: translateY(-70px);
        color: white;
        width: 90%;
    }
    /*---------FIN GRID DE BUSQUEDA-------------------------*/

    /*SLIDER MODO DESKTOP----------------------------->>>*/
    .trendingGifos {
        margin-top: 45px;
        background-color: #F3F5F8;
        width: 100%;
        height: 540px;
        border: solid 2px black;
    }
    .trendingGifos h1 {
        color :#572EE5 ;
        text-align: center;
        font-size: 20px;
        padding-top: 46px;
        padding-bottom: 7px;
    }
    .trendingGifos h2 {
        font-family: Roboto ,sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 23px;
        text-align: center;
        padding-bottom: 32px;
    }
    .trendingGifos .arrowDiv {
        display: flex;
        justify-content: space-between;
        width: 100%;
        transform: translateY(160px);
    }
    .arrowDiv .arrow {
        padding: 8px 10px 8px 10px;
        border: 1px solid #572EE5;
        background-color: white;
        cursor: pointer;
    }
    .arrowDiv .arrow:hover {
        border: none;
        background-color: #572EE5;
    }
    #left {
        margin-left: 54px;
    }
    #right {
        margin-right: 54px;
    }
    .holster {
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-flow: column nowrap;
        font-family: monospace;
        width: 82.5%;

    }
    .containerX {
        display: flex;
        overflow-x: auto;
        flex: none;
        margin: auto;
        width: 100%;
        height: 275px;
        flex-flow: row nowrap;
        scroll-snap-type: x mandatory;

    }
    
    .containerX .grid-itemx {
        text-align: center;
        scroll-snap-align: center;
        margin: 0 11px 0 11px;
        flex: none;
        width: 357px;
        /*background-image: url(https://i.pinimg.com/originals/0f/53/5a/0f535ac4dfeef3179931a10802b74dc8.jpg);*/
        background-position: center; 
        background-repeat: no-repeat; 
        background-size: contain;
    }
    .containerX .grid-itemx:first-child {
        margin-left: 0px;
    }
    .containerX .grid-itemx:last-child {
        margin-right: 0px;
    }
    .containerX .blue {
            width: 100%;
            height: 100%;
            background-color: #572EE5;
            opacity: 0;
    }
    .containerX .blue:hover {
            opacity: .9;
    }
    .containerX .cardIcons {
            display: flex;
            justify-content: flex-end;
            width: 100%;
            height: 100%;
            opacity: 0;
    }
    .containerX .cardIcons:hover {
            background-color: #572EE5;
            opacity: 1;
    }
    .containerX .cardIcons .icon {
            height: 29px;
            width: 29px;
            background-color: white;
            opacity: .5;
            padding: 6px;
            border-radius: 6px;
            margin-top: 10px;
            margin-right: 10px;
    }
    .containerX .cardIcons .icon:hover {
            cursor: pointer;
            opacity: 1;
    }
    .containerX .grid-itemx .tituloTrend {
            /*display: block;*/
            font-family: Roboto ,sans-serif;
            font-weight: bold;
            width: 90%;
            text-align: center;
            line-height: 18px;
            font-size: 15px;
            color: white;
            margin-left: 10px;
            transform: translateY(-50px);
    }
    /*Div QUE APARECE PARA VISUALIZAR EL GIF EN TAMAÑO MAXIMO*/
    .close {
        position: absolute;
        top: 8vh;
        right: 20vw;
        cursor: pointer;
      }
    .gifMaxContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
        margin-top: 10vh;
        margin-bottom: 10vh;
        width: fit-content; 
    }
    .gifMaxContainer .gifMax {
        width: unset;
        height: unset;
        box-shadow: 0px 0px 15px 5px #572EE5;
        border-radius: 5px;
    }
    .gifMaxContainer .infoDiv {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-right: 0;
        margin-left: 0;
        margin-top: 22px;
    }
    .gifMaxContainer .infoDiv .iconDiv {
        display: flex;
        justify-content: space-around;
    }
    /*------------------------------------------------XXX*/ 

    /*--------PAGINAS APARTE------------------*/
    /*------SECCION FAVORITOS MODO DESKTOP---------------->*/

    .favoritos {
        display: grid;
        margin-top: 50px;
        margin-right: 2vw;
        margin-left: 2vw;
        grid-column-gap: 2vw;
        grid-row-gap: 2vw;
        grid-template-columns: auto auto auto auto;
    }

    .favoritos .grid-itemfav {
        width: 22vw;
        height: 17vw;
        background-position: center; 
        background-repeat: no-repeat; 
        background-size: cover; 
    }

    .favoritos .grid-itemfav .bluefav {
        width: 100%;
        height: 100%;
        background-color: #572EE5;
        opacity: 0;
    }
    .favoritos .grid-itemfav .bluefav:hover {
        opacity: .9;
    }
    .favoritos .grid-itemfav .bluefav .cardIconsfav {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        height: 100%;
        opacity: 0;
    }
    .favoritos .grid-itemfav .bluefav .cardIconsfav:hover {
        background-color: #572EE5;
        opacity: 1;
    }
    .favoritos .grid-itemfav .bluefav .cardIconsfav .iconfav {
        height: 29px;
        width: 29px;
        background-color: white;
        opacity: .5;
        padding: 6px;
        border-radius: 6px;
        margin-top: 10px;
        margin-right: 10px;
    }
    .favoritos .grid-itemfav .bluefav .cardIconsfav .iconfav:hover {
        cursor: pointer;
        opacity: 1;
    }
    .favoritos .grid-itemfav .tituloFav {
        font-size: 12px;
        margin-left: 10px;
        transform: translateY(-50px);
        color: white;
        width: 20vw;
    }
    /*----------FIN FAVORITOS--------------------->*/

    /*----------SECCION CREAR GIFOS ----------------->*/

    .rectangleContainer {
        width: 52%;
        height: 390px;
        border: solid 1px #572EE5;
        margin: auto;
        margin-top: 4px;
    }
    .rectangleContainer .topCorner {
        display: flex;
        justify-content: space-between;
        margin: 20px 20px 0px 20px;
    }
    .rectangleContainer .bottomCorner {
        display: flex;
        justify-content: space-between;
        margin: 0px 20px 20px 20px;
    }
    .rectangleContainer .corner {
        height: 25px;
        width: 25px;
        border-color: #50E3C2;
    }
    .topLeft{
        border-top: 2px solid;
        border-left: 2px solid;
    }
    .topRight{
        border-top: 2px solid;
        border-right: 2px solid;
    }
    .bottomLeft{
        border-bottom: 2px solid;
        border-left: 2px solid;
    }
    .bottomRight{
        border-bottom: 2px solid;
        border-right: 2px solid;
    }
    .rectangleContainer .infoContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 300px;
    }
    .titleCreate {
        font-size: 25px;
        color: #572EE5;
        text-align: center;
        line-height: 35px;
    }
    .titleCreate span {
        color: #50E3C2;
    }
    .infoContainer .instructions {
        font-family: Roboto ,sans-serif;
        font-size: 16px;
        color: #000000;
        text-align: center;
        line-height: 29px;
        margin-top: 3px;
    }
    /* ETIQUETA DE VIDEO , SE POSICIONA SOBRE TODO LO DEMAS Y REPRODUCE LA GRABACION DE CAMARA*/
    .infoContainer video {
        display: none;/*PROPIEDAD CAMBIADA DESDE JS*/
        position: absolute;
        z-index: 1;
        align-self: center;
        height: 320px;
        width: 480px;
        box-shadow: 0px 0px 15px 5px #572EE5;
        border-radius: 4px;
    }
    .infoContainer .blueGifo {
        display: none;/*PROPIEDAD CAMBIADA DESDE JS*/
        position: absolute;
        width: 480px;
        height: 320px;
        align-self: center;
        background-color: #562ee59f;
        z-index: 2;
    }
    .blueGifo .cardGifo {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        height: 100%;
        opacity: 0;
    }
    .blueGifo .cardGifo .icon {
        height: 32px;
        width: 32px;
        background-color: white;
        opacity: .5;
        padding: 6px;
        border-radius: 6px;
        margin-top: 10px;
        margin-right: 10px;
    }
    .blueGifo .cardGifo .icon:hover {
        cursor: pointer;
        opacity: 1;
    }
    .blueGifo .statusCont{
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translateY(-160px);
    }
    .blueGifo .statusCont #status {
        position: absolute;
        transform: translateY(-40px);
    }
    .blueGifo .statusCont .subidaGifo {
        position: absolute;
        font-family: Montserrat ,sans-serif;
        font-weight: bold;
        font-size: 15px;
        text-align: center;
        color: white;
    }
    .creationInfo {
        display: flex;
        justify-content: center;
        margin: auto;
        margin-top: 24px;
        margin-bottom: 19px;
        width: 688px;
        height: 32px;
    }
    .creationInfo .creationStep {
        display: flex;
        justify-content: space-between;
        width: 147px;
        position: absolute;
    }
    .creationInfo .creationStep .step {
        height: 32px;
        width: 32px;
        color: #572EE5;
        background-color: white;
        border: 1px solid #572EE5;
        border-radius: 50%;
        font-family: Roboto ,sans-serif;
        font-weight: 700;
        font-size: 18px;
        text-align: center;
        padding-top: 4px;
        cursor: pointer;
    }
    .creationInfo .creationStep .step:hover {
        color: white;
        background-color: #572EE5;
    }
    .creationInfo .btnRepeat {
        display: none; /* SE VISUALIZARA AL PARAR GRABACION*/
        align-self: center;
        color: #572EE5;
        font-weight: 700;
        font-size: 13px;
        cursor: pointer;
        transform: translateX(280px);
    }
    .creationInfo .btnRepeat:hover {
        border-bottom: solid 2px #5ED7C6;
    }
    .creationInfo .btnRepeat:active {
        color: #9CAFC3;
        border-bottom: none;
    }
    .creationInfo .timer {
        display: none;/*SE VISUALIZARA AL INICIAR GRABACION*/
        align-self: center;
        color: #572EE5;
        font-weight: 700;
        font-size: 16px;
        transform: translateX(280px);
    }
    .line {
       background-color: #572EE5;
       height: 6.9px;
       width: 795px; 
       margin: auto;
       border-radius: 15px;
    }
    .creationBtn{
        margin-top: 30px;
        text-align: center;
    }
    .creationBtn .creationBtnA{
        outline: none;
        cursor: pointer;
        color: #572EE5;
        background-color: white;
        border: solid 1px #572EE5;
        border-radius: 25px;
        font-weight: 700;
        font-size: 13px;
        width: 127px;
        height: 50px;
    }
    #grabar {
        display: none;
        margin: auto;
    }
    .creationBtnA:hover {
        color: white;
        background-color: #572EE5;
    }
    .cam {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: auto;
        margin-left: 8vw;
        transform: translateY(-425px);
    }
    .cam #camSVG {
        height: 162px;
        width: 123px;
    }
    .cam .camGradient {
        height: 151px;
        width: 91px;
        background-image: linear-gradient(270deg, rgba(136,243,226,0.00) 5%, #50E3C2 100%);
        clip-path: polygon(0 63%, 0 37%, 100% 0, 100% 100%);

    }
    .camAnimation {
        animation: fadein 1.25s ease-in-out infinite;
    }
    .pelicula {
        position: absolute;
        margin-left: 80vw;
        transform: translateY(-155px);
    }

    @keyframes fadein {

        0%   {background-image: linear-gradient(270deg, rgba(136,243,226,0.00) 1%, #50E3C2 50%);}
        10%  {background-image: linear-gradient(270deg, rgba(136,243,226,0.00) 5%, #50E3C2 70%);}
        20%  {background-image: linear-gradient(270deg, rgba(136,243,226,0.00) 5%, #50E3C2 90%);}
        30%  {background-image: linear-gradient(270deg, rgba(136,243,226,0.00) 15%, #50E3C2 120%);}
        40%  {background-image: linear-gradient(270deg, rgba(136,243,226,0.00) 25%, #50E3C2 150%);}
        50%  {background-image: linear-gradient(270deg, rgba(136,243,226,0.00) 45%, #50E3C2 200%);}
        60%  {background-image: linear-gradient(270deg, rgba(136,243,226,0.00) 35%, #50E3C2 150%);}
        70%  {background-image: linear-gradient(270deg, rgba(136,243,226,0.00) 25%, #50E3C2 120%);}
        80%  {background-image: linear-gradient(270deg, rgba(136,243,226,0.00) 15%, #50E3C2 90%);}
        90%  {background-image: linear-gradient(270deg, rgba(136,243,226,0.00) 5%, #50E3C2 70%);}
        100% {background-image: linear-gradient(270deg, rgba(136,243,226,0.00) 5%, #50E3C2 50%);}
    }

    /*----SECCION MIS GIFOS MODO DESKTOP----*/
    .misGifos {
        display: grid;
        margin-top: 50px;
        margin-right: 2vw;
        margin-left: 2vw;
        grid-column-gap: 2vw;
        grid-row-gap: 2vw;
        grid-template-columns: auto auto auto auto;
    }
    
    .misGifos .grid-itemMG {
        width: 22vw;
        height: 17vw;
        background-position: center; 
        background-repeat: no-repeat; 
        background-size: cover; 
    }
    .misGifos .grid-itemMG .blueMG {
        width: 100%;
        height: 100%;
        background-color: #572EE5;
        opacity: 0;
    }
    .misGifos .grid-itemMG .blueMG:hover{
        opacity: .9;
    }
    .misGifos .grid-itemMG .blueMG .cardIconsMG {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        height: 100%;
        opacity: 0;
    }
    .misGifos .grid-itemMG .blueMG .cardIconsMG:hover {
        background-color: #572EE5;
        opacity: 1;
    }
    .misGifos .grid-itemMG .blueMG .cardIconsMG .iconMG {
        height: 29px;
        width: 29px;
        background-color: white;
        opacity: .5;
        padding: 6px;
        border-radius: 6px;
        margin-top: 10px;
        margin-right: 10px;
    }
    .misGifos .grid-itemMG .blueMG .cardIconsMG .iconMG:hover {
        cursor: pointer;
        opacity: 1;
    }
    .misGifos .grid-itemMG .tituloMG {
        font-size: 12px;
        margin-left: 10px;
        transform: translateY(-50px);
        color: white;
        width: 20vw;
    }
}   

/* USADO PARA APARECER HTML OCULTO*/
.displayBlocker {
    display: block;
}
/* USADO PARA DESAPARECER HTML OCULTO*/
.displayNoner {
    display: none;
}

